.container__outer {
  padding: $s-size $xs-size $s-size $xs-size;
  max-width: 780px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  border: black solid 1px;
  display: flex;
  justify-content: center;
}

.container__inner {
  max-width: 650px;
}

.container__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__split {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container__inner-half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  // padding: $xs-size;
}