.header__container {
  margin-bottom: $xs-size;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $s-size 0 $s-size;
}

.header__container-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 500px;
}


