.info-group__inner-container {
  margin-top: $xs-size;
}

.info-group__title {
  color: #363636;
  // font-size: 0.7em;
  font-weight: 900;
  line-height: 1.125;
  font-size: 0.8em;

}

.info-group__body {
  font-size: 0.8em;

}