.info-group__inner-container {
  margin: $s-size 0 0 0;

}

.info-group__title {
  color: #363636;
  // font-size: 0.7em;
  font-weight: 900;
  line-height: 1.125;
  font-size: 0.8em;
  padding-bottom: $xs-size;
}

.info-group__body {
  font-size: 0.7em;

}