.select-container__inner-half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: $xs-size;
}

.select-container__select {
  width: 100%;
}